<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS + Vuetify Calculator</title>
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.6.0/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
    <style>
        .v-menu__content.theme--light.menuable__content__active {
            min-height:70vh;
        }
    </style>

    <meta name="robots" content="noindex">
    <style>
        body { font-family: Roboto, Helvetica, Arial, sans-serif; }
    </style>
</head>
<body>

<div id="app">
    <v-app>
        <v-main>
            <v-container>
                <v-row>
                    <v-col>
                        <v-select
                                :items="inputs"
                                :item-text="item => `${item.name}`"
                                v-model="selectedInput"
                                label="Select Power Input"
                                :key="autocompleteKey"
                                return-object
                                clearable
                        >
                            <template v-slot:item="{ props, item }">
                                <v-list-item v-bind="item" @click="selectInput(item)">
                                    <v-list-item-avatar style="width:100px; height:100px;">
                                        <img :src="item.image">
                                    </v-list-item-avatar>
                                    <v-list-item-content>
                                        <v-list-item-title v-text="item.name"></v-list-item-title>
                                        <v-list-item-subtitle v-html="'$' + item.price"></v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                            </template>
                        </v-select>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-autocomplete
                                :items="storages"
                                :item-text="item => `${item.name} - ${item.capacity} Watt/hour -  Price: $${item.price}`"
                                v-model="selectedStorage"
                                label="Select Storage Option"
                                :key="autocompleteKey"
                                return-object
                                clearable
                        >
                            <template v-slot:item="{ props, item }">
                                <v-list-item v-bind="item" @click="selectStorage(item)">
                                    <v-list-item-avatar style="width:100px; height:100px;">
                                        <img :src="item.image">
                                    </v-list-item-avatar>
                                    <v-list-item-content>
                                        <v-list-item-title v-text="item.name"></v-list-item-title>
                                        <v-list-item-subtitle v-html="'$' + item.price"></v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                            </template>

                        </v-autocomplete>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col>
                        <v-autocomplete
                                :items="accessories"
                                :item-text="item => `${item.name}`"
                                label="Add Accessory"
                                @change="addAccessory"
                                v-model="autocompleteSelection"
                                return-object
                                clearable
                                :key="autocompleteKey"
                        >
                            <template v-slot:item="{ props, item }">
                                <v-list-item v-bind="item" @click="addAccessory(item)">
                                    <v-list-item-avatar style="width:100px; height:100px;">
                                        <img :src="item.image">
                                    </v-list-item-avatar>
                                    <v-list-item-content>
                                        <v-list-item-title v-text="item.name"></v-list-item-title>
                                        <v-list-item-subtitle v-html="'$' + item.price"></v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                            </template>
                        </v-autocomplete>
                    </v-col>
                </v-row>


                <v-row>
                    <v-col>
                        <v-data-table
                                :headers="accessoryHeaders"
                                :items="selectedAccessories"
                                :items-per-page="5"
                                class="elevation-1"
                                item-key="name"
                                @item-updated="updateAccessory"
                        >
                            <template v-slot:item="{ item }">
                                <tr>
                                    <td>
                                        <div>{{ item.name }}</div>
                                        <p></p>
                                        <img width="200" :src="item.image">
                                    </td>
                                    <td>{{ item.price }}</td>
                                    <td>
                                        <v-text-field
                                                v-model="item.powerConsumption"
                                                type="number"
                                                :rules="[rules.required]"
                                        ></v-text-field>
                                    </td>
                                    <td class="text-xs-right">
                                        <v-select
                                                :items="timeOptions"
                                                v-model="item.hoursOnPerDay"
                                        ></v-select>

                                    </td>
                                    <td>
                                        <v-icon
                                                small
                                                class="mr-2"
                                                @click="removeAccessory(item)"
                                        >
                                            mdi-delete
                                        </v-icon>
                                    </td>
                                </tr>
                            </template>
                        </v-data-table>
                    </v-col>
                </v-row>




                <!--<h2>Calculated Statistics</h2>-->

                <v-row>
                    <v-col>
                        <v-card :class="getDaysWithoutChargeColor(daysWithoutCharge)" class="mx-auto" outlined>
                            <v-card-text>
                                <div class="display-1 text--primary">{{ daysWithoutCharge.toFixed(2) }}</div>
                                <v-card-title style="padding-left: 0;">Days until empty</v-card-title>
                                <div class="caption">If you don't charge at all, this is how long your battery will last with your selected accessories and planned use. We recommend 2+ days of battery without charging. This allows for cloudy weather which affects how fast you can charge from solar power.</div>
                                <div class="caption">
                                    <b>To increase this number</b>, you can:
                                    <ul>
                                        <li>reduce the amount of accessories</li>
                                        <li>use them fewer hours per day!</li>
                                        <li>Increase your storage capacity</li>
                                    </ul>
                                </div>
                            </v-card-text>
                            <v-card-actions>

                                <v-spacer></v-spacer>


                                <v-icon
                                        small
                                        class="mr-2"
                                        @click="showMathDays = !showMathDays"
                                >
                                    mdi-chevron-down
                                </v-icon>
                            </v-card-actions>
                            <v-expand-transition>
                                <div v-show="showMathDays">
                                    <v-divider></v-divider>

                                    <v-card-text>
                                        I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.
                                    </v-card-text>
                                </div>
                            </v-expand-transition>
                        </v-card>

                    </v-col>
                    <v-col>
                        <v-card class="mx-auto" outlined>
                            <v-card-text>
                                <div class="display-1 text--primary">${{ totalPrice.toFixed(2) }}</div>
                                <v-card-title style="padding-left: 0; padding-bottom: 0;">Total price</v-card-title>
                                <v-list dense style="padding-top:0;">
                                    <v-subheader style="padding-left:0">Cost breakdown</v-subheader>
                                    <v-list-item v-for="accessory in allItems" :key="accessory.name" style="padding-left:0; padding-top: 0; padding-bottom: 0; min-height: 25px;">
                                        <v-list-item-content style="padding-top:0; padding-bottom: 0;">
                                            <v-list-item-subtitle>
                                                {{ accessory.name }} |
                                                ${{ accessory.price }}
                                                <span v-if="accessory.link">| URL: <a :href="accessory.link" target="_blank">{{ accessory.link }}</a></span>
                                            </v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-list-item>
                                </v-list>

                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-card class="mx-auto" outlined>
                            <v-card-text>
                                <div class="display-1 text--primary">{{ hoursUntilFullyCharged.toFixed(2) }}</div>
                                <v-card-title style="padding-left: 0;">
                                    Hours until fully charged
                                </v-card-title>
                                <div class="caption">
                                    With the solar panel you have chosen in full sunlight it will take {{ hoursUntilFullyCharged.toFixed(2) }} hours for {{this.selectedInput ? this.selectedInput.output : ""}} Watts to charge a {{this.selectedStorage ? this.selectedStorage.capacity : ""}} Wh battery from 0 to 100%.
                                </div>
                            </v-card-text>
                            <v-card-actions>

                                <v-spacer></v-spacer>


                                <v-icon
                                        small
                                        class="mr-2"
                                        @click="showHoursUntilFullyCharged = !showHoursUntilFullyCharged"
                                >
                                    mdi-chevron-down
                                </v-icon>
                            </v-card-actions>
                            <v-expand-transition>
                                <div v-show="showHoursUntilFullyCharged">
                                    <v-divider></v-divider>

                                    <v-card-text>
                                        <p>1) Charge time is affected first and foremost by the type of battery.</p>

                                        <p>2) Lithium batteries can "pull" much more charge and much faster than lead-acid or AGM batteries. For example, if you hook up a lead-acid battery to a 600 watt charging source, the lead-acid battery would <i>absorb</i> about 10-20% of that power. Meanwhile, a lithium battery hooked to the same power source would absorb 100% of that power.</p>

                                        <p>3) When charging from a solar panel you have to take into account that the sun isn't always at an optimal angle. This heavily affects how effective a solar panel is.</p>

                                        <p>4) Lithium batteries cannot charge below 0 degrees celcius</p>

                                    </v-card-text>
                                </div>
                            </v-expand-transition>
                        </v-card>
                    </v-col>

                    <v-col>
                        <v-card class="mx-auto" outlined>
                            <v-card-text>
                                <div class="display-1 text--primary">{{ estimatedDailyUsagePercentage.toFixed(1) }}%</div>
                                <v-card-title style="padding-left: 0;">
                                    Daily usage as % of your capacity
                                </v-card-title>
                                <div class="caption"><p>
                                    This means every day with your expected load, you will use {{ estimatedDailyUsagePercentage.toFixed(1) }}% of your total battery capacity.</p>
                                    <p>Based on your {{this.selectedInput ? this.selectedInput.output : ""}} Watt input, it will take {{ (hoursUntilFullyCharged * (estimatedDailyUsagePercentage.toFixed(1) / 100)).toFixed(1) }} hours to replenish your daily use.</p>
                                </div>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
                <v-row>

                    <v-col>
                        <v-card class="mx-auto" outlined>
                            <v-card-text>
                                <div class="display-1 text--primary">{{ totalWeight.toFixed(2) }} kg</div>
                                <v-card-title style="padding-left: 0;">
                                    Total weight
                                </v-card-title>
                                <div class="caption"></div>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>


            </v-container>
        </v-main>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.0/dist/vuetify.js"></script>
<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: () => ({
            inputs: [
                { name: "Solar Panel - 160watt", output: 160, price: 300, link: "http://example.com", weight: 10, image: "https://m.media-amazon.com/images/I/711+wL8KJQL._AC_SX679_.jpg" },
                {name: "Goal Zero Nomad 400W Folding Solar", output: 400, price: 799.89, link: "https://www.goalzero.com/collections/solar-panels/products/nomad-400-portable-solar-panel", weight: 10, image: "https://www.goalzero.com/cdn/shop/files/22220_SherpaPD_ECOMM_07-Edit1_3_690x.png?v=1699032156" },
                {name: "Goal Zero Nomad 200W Folding Solar", output: 200, price: 399.89, link: "https://www.goalzero.com/collections/solar-panels/products/nomad-200-solar-panel", weight: 10, image: "https://www.goalzero.com/cdn/shop/products/36fd771f2766b1a0b050bc8dfff167b1_690x.png?v=1620032540" },
                {name: "Goal Zero Boulder 100 Briefcase", output: 100, price: 239.89, link: "https://www.goalzero.com/collections/solar-panels/products/boulder-100-solar-panel-briefcase", weight: 10, image: "https://www.goalzero.com/cdn/shop/products/0d9ae9f50c1174aafd4ddb4c349b456e_690x.jpg?v=1615295161" },
                {name: "Goal Zero Flex 100i", output: 100, price: 149.95, link: "https://www.goalzero.com/collections/solar-panels/products/flex-100i-flexible-solar-panel", weight: 10, image: "https://www.goalzero.com/cdn/shop/files/flex2_690x.png?v=1710188301" },
                {name: "Goal Zero Ranger 300 Briefcase", output: 300, price: 699.95, link: "https://www.goalzero.com/collections/solar-panels/products/ranger-300-briefcase", weight: 10, image: "https://www.goalzero.com/cdn/shop/products/01f2bb2cba337d060db9dddd94d6561d_1_690x.jpg?v=1630923137" },
                { name: "Solar Panel - 200 watt", output: 200, price: 300, link: "http://example.com", weight: 10 },
                { name: "Solar Panel - 300 watt", output: 300, price: 300, link: "http://example.com", weight: 10 },
                { name: "Goal Zero DC-to-DC", output: 600, price: 300, link: "http://example.com", weight: 10 },
                // Add more inputs as needed
            ],
            storages: [
                { name: "Goal Zero Yeti 6000x", capacity: 6000, inverter: 3000, price: 4000, link: "#", weight: 65 },
                { name: "Goal Zero Yeti 3000x", capacity: 3000, inverter: 2000, price: 2000, link: "#", weight: 42 },
                { name: "Goal Zero Yeti 1500x", capacity: 1500, inverter: 2000, price: 1200, link: "https://www.amazon.com/Goal-Zero-Watt-Hours-Solar-Powered-Generator/dp/B08FX3S5LF/ref=sr_1_1?crid=219EQNQ6TR226&dib=eyJ2IjoiMSJ9.w4UQdU4ZRDecv3Oza_Dt9F0I1bBTP57sVUn865rhc9XJOvXYM3KSr-ueZSeCOtced__liY1UGpKl6_8Qff-UFGgOTAJA3YpLaWK_NTXPID5WgyCCHFYhCGwxlaxU9ceiRj_Q8dFRi8oYqoSkjfnV690GTMfBUMR_GjWQRFSyOd0hlG6IBNudoPOCc9801YaPb8YWIqG4dzlF5YtfhtveEg8xI6sKLdvuatPiIMNPVVs.lv3Tba2Ql_r0up3xh8DlaNHAj-BK_Aa9Z-BvPv_sFAw&dib_tag=se&keywords=goal%2Bzero%2Byeti%2B3000&qid=1711650461&sprefix=goal%2Bzero%2Byeti%2B3000%2Caps%2C170&sr=8-1&th=1", weight: 35, image: "https://m.media-amazon.com/images/I/711+wL8KJQL._AC_SX679_.jpg" },
                { name: "Goal Zero Yeti 700", capacity: 677, inverter: 600, price: 599.95, link: "https://www.goalzero.com/collections/portable-power/products/yeti-700-portable-power-station-lfp-batteries", weight: 35, image: "https://www.goalzero.com/cdn/shop/files/ScreenShot2022-03-09at1.1925_1080x.png?v=1708124852" },
                { name: "Battery Bank 2x105Ah", capacity: 1260, inverter: 300, price: 300, link: "#", weight: 45 },
                { name: "Anker SOLIX C1000", capacity: 1056, inverter: 1800, price: 1000, link: "#", weight: 0 },
                { name: "Bluetti AC180", capacity: 1152, inverter: 1800, price: 1000, link: "#", weight: 0 },
                { name: "Dakota Lithium PowerBox", capacity: 720, inverter: 300, price: 900, link: "#", weight: 0 },
                { name: "Ecoflow Delta 2", capacity: 1024, inverter: 1800, price: 1000, link: "#", weight: 0 },
                { name: "Goal Zero Yeti 700", capacity: 677, inverter: 600, price: 600, link: "#", weight: 0 },
                { name: "Lion Energy Summit", capacity: 665, inverter: 530, price: 600, link: "#", weight: 0 },
                { name: "Ugreen PowerRoam", capacity: 1024, inverter: 1200, price: 1000, link: "#", weight: 0 },
                { name: "Vtoman FlashSpeed 1500", capacity: 1548, inverter: 1500, price: 1600, link: "#", weight: 0 },
                { name: "EF Ecoflow Portable Delta", capacity: 1260, inverter: 1800, price: 900, link: "#", weight: 0 },
                { name: "Jackery Explorer 500", capacity: 518, inverter: 500, price: 300, link: "#", weight: 0 }
            ],

            accessories: [
                { name: "LED Light", volt: 12, ampHourAvg: 2, whAvgPerDay: 24, powerConsumption: 5, hoursOnPerDay: 4, enabled: true, price: 10, weight: 1, image: "https://m.media-amazon.com/images/I/711+wL8KJQL._AC_SX679_.jpg" },
                { name: "Refrigerator - Alpicool C50", volt: 12, ampHourAvg: 1, whAvgPerDay: 12, powerConsumption: 12, hoursOnPerDay: 24, enabled: true, price: 300, weight: 12 },
                { name: "Refrigerator - Alpicool C40", volt: 12, ampHourAvg: 1, whAvgPerDay: 12, powerConsumption: 12, hoursOnPerDay: 24, enabled: true, price: 320, weight: 12 },
                { name: "Chinese 5Kw Diesel heater", volt: 12, ampHourAvg: 4, whAvgPerDay: 48, powerConsumption: 48, hoursOnPerDay: 8, enabled: true, price: 300, weight: 8 },
                { name: "Hair dryer", volt: 12, ampHourAvg: 4, whAvgPerDay: 48, powerConsumption: 2000, hoursOnPerDay: 0.25, enabled: true, price: 200, weight: 1 },
                { name: "Small blender", volt: 12, ampHourAvg: 4, whAvgPerDay: 48, powerConsumption: 300, hoursOnPerDay: 0.25, enabled: true, price: 30, weight: 1 },
                { name: "Laptop charger - 140 Watt", volt: 12, ampHourAvg: 4, whAvgPerDay: 48, powerConsumption: 140, hoursOnPerDay: 2, enabled: true, price: 30, weight: 1 },

            ],

            selectedInput: null,
            selectedStorage: null,
            selectedAccessories: [],
            autocompleteSelection: null,
            autocompleteKey: 0, // Initialize the key
            showMathDays: false,
            showHoursUntilFullyCharged: false,

            accessoryHeaders: [
                { text: 'Item', value: 'name' },
                { text: 'Price', value: 'price'},
                { text: 'Power (Watts)', value: 'power'},
                { text: 'Time on per day', value: 'hoursonperday' },
                { text: 'Actions', value: 'actions', sortable: false }, // Actions column
                // Add headers for each editable property
            ],
            rules: {
                required: value => !!value || 'Required.',
                under24: value => value <= 24 || 'Must be 24 or under',
                over0: value => value >= 0 || 'Must be 0 or over',
            },
            timeOptions: [
                { text: "2 minutes", value: 0.033333 },
                { text: "5 minutes", value: 0.083333 },
                { text: "10 minutes", value: 0.16666 },
                { text: "15 minutes", value: 0.25 },
                { text: "30 minutes", value: 0.5 },
                { text: "45 minutes", value: 0.75 },
                { text: "1 hour", value: 1 },
                { text: "2 hours", value: 2 },
                { text: "3 hours", value: 3 },
                { text: "4 hours", value: 4 },
                { text: "5 hours", value: 5 },
                { text: "6 hours", value: 6 },
                { text: "7 hours", value: 7 },
                { text: "8 hours", value: 8 },
                { text: "9 hours", value: 9 },
                { text: "10 hours", value: 10 },
                { text: "11 hours", value: 11 },
                { text: "12 hours", value: 12 },
                { text: "13 hours", value: 13 },
                { text: "14 hours", value: 14 },
                { text: "15 hours", value: 15 },
                { text: "16 hours", value: 16 },
                { text: "17 hours", value: 17 },
                { text: "18 hours", value: 18 },
                { text: "19 hours", value: 19 },
                { text: "20 hours", value: 20 },
                { text: "21 hours", value: 21 },
                { text: "22 hours", value: 22 },
                { text: "23 hours", value: 23 },
                { text: "24 hours", value: 24 },
                // Add more options as needed
            ],
        }),
        methods: {
            getDaysWithoutChargeColor(value) {
                if (this.selectedStorage && this.selectedInput && this.selectedAccessories.length != [] && value < 1) return 'red lighten-2'; // Red for less than 2 days
                if (this.selectedStorage && this.selectedInput && this.selectedAccessories.length != [] && value < 2) return 'orange lighten-2'; // Orange for less than 5 days
                if (this.selectedStorage && this.selectedInput && this.selectedAccessories.length != []) return 'green lighten-2'; // Green for 5 days or more
            },

            selectItem(item) {
                this.autocompleteSelection = item;
                // If you need to close the menu after selection, you might need additional logic
            },

            selectStorage(item){
                this.selectedStorage = item;
                this.autocompleteKey += 1;
            },

            selectInput(item){
                this.selectedInput = item;
                this.autocompleteKey += 1;
            },

            removeAccessory(accessoryToRemove) {
                this.selectedAccessories = this.selectedAccessories.filter(accessory => accessory !== accessoryToRemove);
            },

            addAccessory(accessoryToAdd) {
                // Ensure selectedAccessories is treated as an array
                if (!Array.isArray(this.selectedAccessories)) {
                    console.error('selectedAccessories is not an array');
                    return; // Early return to avoid further errors
                }

                // Check if the accessoryToAdd is already in the selectedAccessories array
                const isExisting = this.selectedAccessories.some(accessory => accessory.name === accessoryToAdd.name);

                // If it's not already included, add it to the selectedAccessories array
                if (!isExisting) {
                    this.selectedAccessories.push(accessoryToAdd);
                }
                this.autocompleteKey += 1;
            },

            updateAccessory(item) {
                // Here you might update the accessory in your backend or just keep the change locally
                console.log('Accessory Updated:', item);
            },


        },
        computed: {
            allItems() {
                // Combine selectedAccessories with selectedStorage and selectedInput if they are not null
                const items = [...this.selectedAccessories]; // Start with selectedAccessories
                if (this.selectedStorage) items.push(this.selectedStorage); // Add selectedStorage if not null
                if (this.selectedInput) items.push(this.selectedInput); // Add selectedInput if not null
                this.selectedAccessories.length > 0 ? console.log(this.selectedAccessories[0].hoursOnPerDay): null;
                return items;
            },
            // Placeholder computed properties for calculations
            daysWithoutCharge() {
                if(this.selectedStorage) {
                    let totalOutput = 0;
                    let totalStorage = this.selectedStorage.capacity;
                    console.log('storage: '+totalStorage);
                    this.selectedAccessories.forEach(acc => {
                        let hours = acc.hoursOnPerDay <= 24 && acc.hoursOnPerDay >= 0 ? acc.hoursOnPerDay : 24;
                        totalOutput += (acc.powerConsumption*hours)
                    });
                    console.log('totalOuput: '+totalOutput);
                    return totalStorage / totalOutput;
                } else {
                    return 0;
                }
            },
            hoursWithoutCharge() {
                if(this.selectedStorage) {
                    let totalOutput = 0;
                    let totalStorage = this.selectedStorage.capacity;

                    this.selectedAccessories.forEach(acc => {
                        let hours = acc.hoursOnPerDay <= 24 && acc.hoursOnPerDay >= 0 ? acc.hoursOnPerDay : 24;
                        totalOutput += (acc.powerConsumption*hours)
                    });
                    return totalStorage / totalOutput;
                } else {
                    return 0;
                }
            },

            hoursUntilFullyCharged() {
                return this.selectedStorage && this.selectedInput ? this.selectedStorage.capacity/this.selectedInput.output : 0;
            },
            estimatedDailyUsagePercentage() {
                return 100/this.daysWithoutCharge;
            },
            totalPrice() {
                // Example calculation, adjust as needed
                let total = 0;
                if (this.selectedInput) total += parseInt(this.selectedInput.price);
                if (this.selectedStorage) total += this.selectedStorage.price;
                this.selectedAccessories.forEach(acc => total += acc.price);
                return total;

            },
            totalWeight() {
                // Example calculation, adjust as needed
                let total = 0;
                if (this.selectedInput) total += this.selectedInput.weight;
                if (this.selectedStorage) total += this.selectedStorage.weight;
                this.selectedAccessories.forEach(acc => total += acc.weight);
                return total;
            },
        },
    });
</script>

</body>
</html>
