.author-box{
  border-top: 1px solid #ebeced;
  margin-top: 25px;
  &__img{
    width: 100px;
    height:100px;
    margin-right: $double-gutter;
    background-size:cover;
    background-position: center;
    float:left;
  }
  &__description{
  }
  overflow:hidden;
}
