// Codepen only quick import
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,300,100,700,500);
@import  url(https://fonts.googleapis.com/css?family=Alegreya:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Lato);

// Fonts
$font-family--primary    : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary  : 'Alegreya Sans SC', Helvetica, Arial, sans-serif;
$md : 545px;

// Font Weights
$font-weight--light      : 300;
$font-weight--medium     : 500;

h1 {
  font-weight: $font-weight--light;
  font-size: 42px;
  line-height: (46px / 42px);
  margin-bottom: 42px;
}

.container {
	padding: 20px 40px;

	@media all and (min-width: 545px) {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		flex-direction: row;
	}
}

.post {
	background-color: #eee;
	margin-bottom: 20px;

	@media all and (min-width: $md) {
		margin: 0 20px 30px 20px;
		flex: 1 0 28%;
    align-self: flex-start;
	}

	.post-image {
		width: 100%;
		height: auto;
	}

	.post-content {
		padding: 20px 20px 30px 30px;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.post-title {
		font-family: $font-family--secondary;
		font-weight: $font-weight--medium;
		font-size: 24px;
		margin-bottom: 10px;
		color: #47495d;
		color: black;
	}
	.post-date {
		font-family: $font-family--secondary;
		font-size: 13px;
	}
	.post-abstract {
		font-size: 15px;
		margin-bottom: 25px;
	}
}

.post-link {
	position: relative;
  border: 3px solid #232323;
  z-index: 2;
  padding: 6px 11px;
  margin: 0 auto;
  box-sizing: border-box;
	font-family: $font-family--secondary;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #232323;

	/*&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 6px;
		left: -7px;
		width: calc(100% + 3px);
		height: calc(100% + 3px);
		background-color: #2462b3;
		transition: all 0.3s ease;
	}

	&:hover:before {
		top: 0;
		left: 0;
		width: 102%;
		height: 100%;
	}

	&::active:before {
		top: -5px;
		left: 9px;
		width: 102%;
		height: 100%;
	}*/
}
