.body{
  overflow-x:hidden;
  font-size:1rem;
  &--reading:not(&--burger-active):not(&--search-active){
    .top-nav{
      /*opacity: 0;*/
      transform: translateY(-$top-nav-height-l);
    }
  }
  &--travels{
    .head{
      height:auto;
    }
  }
  &--search-active{
    .page{
      transform: translateX(- $nav-width-l);
    }
    .search{
      /*transform: translateX(0);*/
      right:0;
    }
    .footer{
      transform: translateX(- $nav-width-l);
    }
  }
  &--burger-active{
    .page{
      transform: translateX($nav-width-l);
    }
    .main-nav{
      /*transform: translateX(0);*/
      left:0;
    }
    .top-nav{
      &__burger{
        &__layer{
          border:none;
          margin-top:1px;
        }
        &__layer:before{
          top:0;
          transform: rotate(45deg);
        }
        &__layer:after{
          top:0;
          transform: rotate(-45deg);
        }
      }
    }
    .footer{
      transform: translateX($nav-width-l);
    }
  }
}