.card{
  margin:15px;
  padding:32px 16px;
  &__header{
    margin:0 0 20px 0;
    font-weight:200;
    font-size: 26px;
    background: #eee;
    padding: 5px 15px;
    box-shadow: 1px 1px 5px #999;
  }
  &__accordion{
    &--active &__content{
      display:block;
    }
    &--active &__title{
      &:after{
        transform:rotate(-135deg);
        right:5px;
      }
    }
    &__content{
      display:none;
    }
    &__title{
      border:1px solid #666;
      padding:5px;
      margin:5px 0;
      border-radius:2px;
      position:relative;
      &:hover{

      }
      &:after{
        transition:transform 200ms;
        transform-origin:50% 75%;
        content:" ";
        display:block;
        height:10px;
        width:10px;
        position:absolute;
        border: 1px solid black;
        border-left-color:transparent;
        border-top-color:transparent;
        right:8px;
        top:4px;
        transform:rotate(45deg);
      }
    }
    &__content{
      padding:5px;
    }
  }
}