/* TODO remove flexbox */

.centerwrapper{
  box-sizing: border-box;
  margin:0 auto;
  padding:0 $gutter;
  width: 100%;
  &--double{
    max-width: $narrow * 2 + $double-gutter;
  }
  &--offset-left {
    width:100%;
    margin:0;
    padding:0;
  }
  &--offset-right {
    width: 100%;
    margin:0;
    padding:0;
  }
  &--narrow{
    max-width: $narrow;
    min-width: $min-wrapper-width;
  }
  &--medium{
    max-width: $medium;
    min-width: $min-wrapper-width;
  }
  &--wide{
    max-width: $wide;
    min-width: $min-wrapper-width;
  }
  &--screen{
    min-width: $min-wrapper-width;
    position:absolute;
    left:0;
    padding: 0;
  }
}

@media screen and (min-width: $tablet){
  .centerwrapper{
    &--offset-left {
      width: 50%;
      float: left;
    }
    &--offset-right {
      width:50%;
      float:right;
    }
  }
}

@media screen and (min-width: $laptop){
  .centerwrapper{
  }
}