.contact-popup{
  display:none;
  &__outer{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    background:rgba(0,0,0,0.85);
    z-index: 999999;
    display:flex;
    align-items:center;
  }
  &__content{
    padding:$gutter;
    border-radius:2px;
    min-height:200px;
    margin:0 auto;
    background:map-get($blue, 0);
    border:1px solid #ebeced;
  }
}
