.device-selector{
  overflow: hidden;;
  &__items{
    float:right;
  }
  &__item{
    border: 1px solid #ebeced;
    outline: none;
    background: white;
    cursor:pointer;
  }
  &__desktop{

  }
}