.form{

}

.input{
  display:block;
  width:100%;
  padding: $gutter;
  margin: $gutter 0;
  border:1px solid #ebeced;
  box-sizing: border-box;
  border-radius:2px;
  &--inline-text, &--email{

  }
  &--text{

  }
  &--submit{
    background: rgb(247,78,0); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(247,78,0,1) 0%, rgba(251,123,4,1) 51%, rgba(247,78,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(247,78,0,1) 0%,rgba(251,123,4,1) 51%,rgba(247,78,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(247,78,0,1) 0%,rgba(251,123,4,1) 51%,rgba(247,78,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f74e00', endColorstr='#f74e00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    font-weight: bold;
    font-size: 1.4em;
    color:white;
  }
}