html,body{
  padding:0;
  margin:0;
  overflow-x: hidden;
}

ul{
  list-style-type:none;
  margin:0;
  padding:0;
}

html, body, .main-wrapper, .page {
  min-height: 100vh;
  min-width: $mobile-s;
  /*overflow-x: hidden;*/
}

img{
  max-width: 100%;
}

.scroll-x, .highlight{
  overflow-x:scroll;
  width: 100%;
  margin-left: 0;
}

.block {
  display: block;
}

.no-deco{
  text-decoration: none;
}


hr{
  border-top: 1px solid #ebeced;
  border-bottom: none;
}

@media screen and(min-width: $tablet){

}

a{
  color:black;
}