.head{
  width:100%;
  height:50vh;
  padding: $double-gutter 0 $double-gutter 0;
  background-size:cover;
  z-index:10;
  margin-top:0;
  box-sizing: border-box;
  transform: translateZ(0);
  display: flex;
  align-items: center;
  background-position: 0 center;
  background-color: #FB7B04;
  &--no-image{
    background: rgb(247,78,0); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(247,78,0,1) 0%, rgba(251,123,4,1) 51%, rgba(247,78,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(247,78,0,1) 0%,rgba(251,123,4,1) 51%,rgba(247,78,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(247,78,0,1) 0%,rgba(251,123,4,1) 51%,rgba(247,78,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f74e00', endColorstr='#f74e00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    height:$top-nav-height-l * 6;
  }
  &:after{
    /*width: 100%;
    height: 100%;
    content: " ";
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -3;
    background: rgba(0,0,0,0.3);*/
  }
}