.listing{
  &-default{
    &__link{
      text-decoration: none;
    }
    &__item{
      padding: $gutter;
      margin-top: $gutter;
      background-color: #fb7b04;
    }
    &__title{
      color:white;
      font-size: 1.1em;
      text-align: center;
    }
  }
}

@media screen and (min-width: $mobile-l){
  .listing{
    &-default{
      &__title{
        font-size: 1.6em;
      }
    }
  }
}