.main-nav{
  width: $nav-width-l;
  background: white;
  top:$top-nav-height-l;
  border-right: 1px solid #ebeced;
  border-top: 1px solid #ebeced;
  height:calc(100% - 60px);
  position:fixed;
  z-index:10000;
  box-sizing: border-box;
  /*transform: translateX(- ($nav-width-l + 6) );*/
  left: - ($nav-width-l + 6);
  /*transition: transform 200ms ease-in-out;*/
  transition: left 200ms ease-in-out;
  box-shadow: 0px 6px 6px #999; /* Adjust */

  overflow-y: scroll; 
  &:before{
    display: block;
    content: " ";
    width: 0;
    height: 0;
    /* background: red; */
    border: 8px solid white;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: -16px;
    left: 23px;
  }
  &--scroll{
    overflow-y: scroll;
  }
  &__element{
    padding: $half-gutter $double-gutter;
    border-bottom:1px solid #ebeced;
    pointer: cursor;
    &--separator{
      padding: $half-gutter $gutter;
      font-weight:bold;
    }
  }
  &__link {
    text-decoration: none;
    color: black;
    display: block;
  }
  &__list{
    /*overflow: scroll;
    height: 100%;*/
    list-style-type: none;
    margin:0;
    padding:0;
  }
}

@media screen and (min-width: 640px){
  .main-nav{
    width: $nav-width-l;
    top:$top-nav-height-l;
    /*transform: translateX(- ($nav-width-l + 6) );*/
    left: - ($nav-width-l + 6);
  }
}