.my{

  margin: 0 20px;
  color:white;
  &__name{
    margin-top: 0;
  }
  &__photo{
    width:100%;
    background-size: cover;
    max-width:240px;
    padding:0;
    height:240px;
  }
  &__details{
    width:100%;
    padding: 0;
    box-sizing: border-box;
  }
  &__name-is{
    font-size: 1rem;
    font-weight: normal;
    padding-top: $half-gutter;
  }
}

@media screen and (min-width: $tablet){
  .my{
    overflow:hidden;
    &__photo{
      max-width:240px;
      padding:0;
      height:240px;
      float:left;
      margin-right: 15px;
    }

    &__details{
      width:auto;
      padding: 0 0 0 $gutter;
    }
    /*
    &__name-is{
      padding-top: 0;
    }*/
  }
}
