.my{
  display:flex;
  flex-wrap: wrap;
  &__name{
    margin-top: 0;
  }
  &__photo{
    flex:0 0 100%;
    padding-bottom:100%;
    background-size: cover;
    order:1;
  }
  &__details{
    order:2;
    flex: 1 0 0;
    padding: 0;
  }
  &__name-is{
    font-size: 1rem;
    font-weight: normal;
  }
}

@media screen and (min-width: $tablet){
  .my{
    &__photo{
      flex:0 0 240px;
      padding:0;
      height:240px;
    }
    &__details{
      flex: 1 0 0;
      padding: 0 0 0 $gutter;
    }
  }
}
