.quote{
  font-size:1.3em;
  padding: $gutter;
  margin: 60px 0;
  box-sizing:border-box;
  font-style: italic;
  &--inspirational{
    background:#333;
    color:white;
    box-shadow: 0 0 6px #000;
  }
  &--left{
    float:none;
  }

  &--right{
    float:none;
  }

  &__person{
    display:block;
    font-weight:bold;
    font-size:1em;
    text-align:center;
    margin-top:$double-gutter;
  }

  &__img{
    display: block;
    width: 80px;
    height: 80px;
    float: left;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right:$gutter;
  }
}

@media screen and (min-width: $tablet){
  /*.quote{


    &--right{
      border-left: none;
      border-right: 5px solid $light-grey;
    }
  }*/
}

@media screen and (min-width: $laptop){
  /*.quote{
    width:58%;
    &--left{
      margin-left: -17%;
    }

    &--right{
      margin-right: -17%;
    }
  }*/
}

@media screen and (min-width: $laptop-l){
  /*.quote{
    width:70%;
    &--left{
      margin-left: -40%;
    }

    &--right{
      margin-right: -40%;
    }
  }*/
}
