.quote{
  font-size:1.3em;
  padding: $gutter;
  margin:0;
  box-sizing:border-box;
  font-style: italic;
  &--left{
    float:none;
    border-left: 5px solid $light-grey;
  }

  &--right{
    float:none;
    border-left: 5px solid $light-grey;
  }
}

@media screen and (min-width: $tablet){
  /*.quote{


    &--right{
      border-left: none;
      border-right: 5px solid $light-grey;
    }
  }*/
}

@media screen and (min-width: $laptop){
  /*.quote{
    width:58%;
    &--left{
      margin-left: -17%;
    }

    &--right{
      margin-right: -17%;
    }
  }*/
}

@media screen and (min-width: $laptop-l){
  /*.quote{
    width:70%;
    &--left{
      margin-left: -40%;
    }

    &--right{
      margin-right: -40%;
    }
  }*/
}