.quote{
  font-size:1.3em;
  padding: 20px;
  box-sizing:border-box;
  &--left{
    float:none;
    border-left: 5px solid $light-grey;
  }

  &--right{
    float:none;
    border-left: 5px solid $light-grey;
  }
}

@media screen and (min-width: $tablet){
  .quote{
    width:30%;
    &--left{
      float:left;
      margin-left: 0;
    }

    &--right{
      float:right;
      margin-right: 0;
      border-left: none;
      border-right: 5px solid $light-grey;
    }
  }
}

@media screen and (min-width: $laptop){
  .quote{
    width:45%;
    &--left{
      margin-left: -17%;
    }

    &--right{
      margin-right: -17%;
    }
  }
}

@media screen and (min-width: $laptop-l){
  .quote{
    width:70%;
    &--left{
      margin-left: -40%;
    }

    &--right{
      margin-right: -40%;
    }
  }
}