.skill-bar-outer {
  width: 95%;
  border: 1px solid #ebeced;
  padding: 0;
  margin: 0;
  display: block;
  min-width: 50px; }

.skill-bar {
  width: 0;
  display: block;
  background: #ebeced;
  height: 10px; }

.years-exp {
  text-align: center;
  width: 25%; }

.skill-name {
  width: 25%; }