.skill-group {
    border-top: 1px solid #ebeced;
    padding-top: 30px;
    margin-top: 30px;
}

.skill-bar-outer {
  width: 95%;
  border: 1px solid #ebeced;
  padding: 0;
  margin: 0;
  display: block;
  min-width: 50px; }

.skill-bar {
  width: 0;
  display: block;
  background: #3E73B8;
  height: 10px; }

.years-exp {
  text-align: center;
  width: 25%; }

.skill-name {
  width: 25%; }
