.top-nav{
  /*transition: opacity 200ms ease-in-out;*/
  transition: transform 200ms ease-in-out;
  transform: translateY(0);
  display:flex;
  height: $top-nav-height-l;
  box-shadow: 0px 0px 6px #999;
  background: white;
  position: fixed;
  width: 100%;
  top:0;
  z-index:9999;

  &__logo{
    align-self: center;
    width:120px;
    margin:0 auto;
  }

  &__search{
    align-self:flex-end;
    display:flex;
    align-items:center;
    justify-content: center;
    border-left: 1px solid #ebeced;
    height:60px;
    width:60px;
    cursor:pointer;
    &__text{
      font-size: 12px;
      text-align: center;
      color: #37454d;
      padding-top: 28px;
      user-select: none;
    }
    &__icon{
      height: 10px;
      width: 10px;
      border:1px solid black;
      border-radius: 50%;
      position: absolute;
      top: 14px;
      right: 27px;
      &:before{
        content: " ";
        border-top:1px solid black;
        width:7px;
        position: absolute;
        transform: rotate(45deg);
        margin-top: 11px;
        margin-left: 8px;

      }
    }
  }

  &__burger{
    width:60px;
    height:60px;
    border-right:1px solid #ebeced;

    &__text{
      font-size: 12px;
      text-align: center;
      color: #37454d;
      padding-top:38px;
      user-select: none;
    }

    &__layer{
      width:14px;
      border-top: 1px solid #37454d;
      left:23px;
      top:20px;
      position:absolute;
    }

    &__layer:before{
      content:"";
      width:14px;
      border-top: 1px solid #37454d;
      top:4px;
      position:absolute;
      transition: transform 200ms;
    }

    &__layer:after{
      content:"";
      width:14px;
      border-top: 1px solid #37454d;
      top:-6px;
      position:absolute;
      transition: transform 200ms;
    }
  }
}