html{
  font-family: "Arial", "Verdana", "sans-serif";
  color:$dark-grey;
}
.header{
  &--center {
    text-align:center;
  }
  &--one{
    font-size:2em;
  }
}

@media screen and (min-width: $tablet){
  .header{
    &--one{
      font-size:3.5em;
    }
  }
}

.shadow{
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.my-text-is-yuge {
  font-size: 70px;
  margin: 0 0 15px 0;
}