$nmargin-quote-tablet-view: 0;
$max-wrapper-width: 1024px;
$min-wrapper-width: 320px;
$dark-grey: #111;
$medium-grey: #777;
$light-grey: #ebeced;
$head-height: 90vh;
$head-width: 100vw;
$gutter: 15px;
$half-gutter: $gutter / 2;
$double-gutter: $gutter * 2;
$top-nav-height-l: 60px;

$nav-width-s: 100%;
$nav-width-l: 300px;

/* Viewports */

$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;

$tablet: 768px;

$laptop: 1024px;
$laptop-l: 1440px;
$fourkay: 2560px; /* 4k */

/* centerwrappers */
$narrow: 500px;
$medium: 762px;
$wide: 1024px;

/* Colours */
$blue:(
  0: #3E73B8
);
