<div class="author-box">
    <h4>About the author</h4>
    <div class="author-box__description">
        <div class="author-box__img" style="background-image:url(/assets/images/avatar.jpg)"></div>
        <a href="https://amandoabreu.com">Amando Abreu</a> got into electronics as a kid, started programming microchips in his early teens, moved onto web development in his late teens, and got into people; psychology; and business in his twenties. Currently co-founder & CTO @ <a href="https://www.perlo.io" target="_blank">Perlo.io</a>
    </div>
</div>
