<div class="author-box">
    <h4>About the author</h4>
    <div class="author-box__description">
        <div class="author-box__img" style="background-image:url({{ site.distribution_base }}/assets/images/img/avatar.jpg)"></div>
        <a href="https://amando-abr.eu">Amando Abreu</a> is a self-taught web developer, his first contact with programming was with C and Assembly for his robotics projects, and later moved onto web and mobile App Development.
        He is currently a Technical Project Manager at JobTender24 and lives in Düsseldorf, Germany.
        <p>Talking about himself in the third person makes him uncomfortable.</p>
    </div>
</div>
