<div class="author-box">
    <h4>About the author</h4>
    <div class="author-box__description">
        <div class="author-box__img" style="background-image:url({{ site.distribution_base }}/assets/images/img/avatar.jpg)"></div>
        <a href="https://amando-abr.eu">Amando Abreu</a> is a generalist with an affinity for technology and people. If you would like to give me some anonymous feedback, do it right here: <a href="/contact/">contact</a>; </p> If you'd like to call me out on twitter, click here: <a href="https://twitter.com/intent/tweet?screen_name=mndflp&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @mndflp</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
