<footer class="footer">
    <div class="centerwrapper centerwrapper--medium">
      <div class="footer__item">
        <ul class="footer__list">
          <li class="footer__list__item">
              <a class="footer__link" href="/contact/">
                  Contact
              </a>
          </li>
          <li class="footer__list__item">
            <a class="footer__link" href="/privacy/">
                Privacy policy
            </a>
          </li>
          <li class="footer__list__item">
            <a class="footer__link" href="https://amandoabreu.com/affiliates/">
                Affiliate disclosure
            </a>
          </li>
          <li class="footer__list__item">
            <a class="footer__link" href="https://amandoabreu.com/uselessmachine.html">
                This is useless
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <ul class="footer__list">
          <li class="footer__list__item">
            <a class="footer__link" href="/about-me/">About Me</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__link" href="/fractional-cto/">Fractional CTO services for business owners</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__link" href="/i-have-an-idea/">"I have an idea, can you help?"</a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <ul class="footer__list">
          <li class="footer__list__item">
            <span class="footer__link">Abreu Holding AS</span>
          </li>
          <li class="footer__list__item">
            <span class="footer__link">Org nr. 928356515</span>
          </li>
        </ul>
      </div>
        <!--<div class="footer__item">
          <ul class="footer__list">
            <li class="footer__list__item--separator">
              <a class="main-nav__link" href="/does/">Does</a>
            </li>
            {% assign sorted = site.does %}
            {% for item in sorted limit:10 %}
            <li class="footer__list__item">
                <a class="footer__link" href="{{ item.url }}">
                    {{ item.title }}
                </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="footer__item">
          <ul class="footer__list">
            <li class="footer__list__item--separator">
              <a class="main-nav__link" href="/did/">Did</a>
            </li>
            {% assign sorted = site.did | sort:"date" | reverse %}
            {% for item in sorted limit:10 %}
            <li class="footer__list__item">
                <a class="footer__link" href="{{ item.url }}">
                    {{ item.title }}
                </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="footer__item">
          <ul class="footer__list">
            <li class="footer__list__item--separator"><a class="main-nav__link" href="/blog/">Wrote</a></li>
            {% assign sorted = site.posts %}
            {% for item in sorted limit:10 %}
            <li class="footer__list__item">
                <a class="footer__link" href="{{ item.url }}">
                    {{ item.title }}
                </a>
            </li>
            {% endfor %}
          </ul>
        </div>-->
      <div id="cookie-notice" style="display: none;">
        <p>We use cookies to provide you with a great experience and to help our website run effectively. <a href="/privacy">Learn more</a>.</p>
        <button id="cookie-accept">Accept</button>
        <button id="cookie-reject">Reject</button>
      </div>
    </div>
</footer>
