<footer class="footer">
    <div class="centerwrapper centerwrapper--medium">
        <!--<div class="footer__item">
          <ul class="footer__list">
            <li class="footer__list__item--separator">
              <a class="main-nav__link" href="/does/">Does</a>
            </li>
            {% assign sorted = site.does %}
            {% for item in sorted limit:10 %}
            <li class="footer__list__item">
                <a class="footer__link" href="{{ item.url }}">
                    {{ item.title }}
                </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="footer__item">
          <ul class="footer__list">
            <li class="footer__list__item--separator">
              <a class="main-nav__link" href="/did/">Did</a>
            </li>
            {% assign sorted = site.did | sort:"date" | reverse %}
            {% for item in sorted limit:10 %}
            <li class="footer__list__item">
                <a class="footer__link" href="{{ item.url }}">
                    {{ item.title }}
                </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="footer__item">
          <ul class="footer__list">
            <li class="footer__list__item--separator"><a class="main-nav__link" href="/blog/">Wrote</a></li>
            {% assign sorted = site.posts %}
            {% for item in sorted limit:10 %}
            <li class="footer__list__item">
                <a class="footer__link" href="{{ item.url }}">
                    {{ item.title }}
                </a>
            </li>
            {% endfor %}
          </ul>
        </div>-->
    </div>
</footer>
