<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}</title>
    <meta name="description" content="{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %} ">
    <meta name="author" content="{{ site.name }}">
    <!--<link rel="stylesheet" href="assets/app/css/normalize.css?v=1.0">-->
    <base href="{{ site.baseurl }}">
    <link rel="stylesheet" href="/css/main.css?v=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:500' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>