<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}</title>
    <meta http-equiv="last-modified" content="Fri, 2 Feb 2016 14:42:46 GMT " />
    <meta http-equiv="cache-control" content="Private" />
    <meta http-equiv="Expires" content="600" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %} ">
    <meta name="author" content="{{ site.name }}">
    <!--<link rel="stylesheet" href="assets/app/css/normalize.css?v=1.0">-->
    <base href="{{ site.baseurl }}">
    <script>
        var cb = function() {
            var l = document.createElement('link'); l.rel = 'stylesheet';
            l.href = '/assets/css/main.css';
            var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h); };
        var raf = requestAnimationFrame || mozRequestAnimationFrame ||
                webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf) raf(cb);
        else window.addEventListener('load', cb);
    </script>
    <!--<link rel="stylesheet" href="/assets/css/main.css">-->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>