            {% include footer.html %}
        </div>
            {% if page.jslibs %}
            {% for asset in page.jslibs %}
                <script src="/assets/opt_js/{{ asset }}"></script>
            {% endfor %}

            {% endif %}
        <script src="/assets/js/main.js"></script>
        {% if page.url == "/does/consulting/" %}
          {% include contact-popup.html %}
        {% endif %}

            <div id="cookie-notice" style="display: none;">
                <p>We use cookies to provide you with a great experience and to help our website run effectively. <a href="/privacy">Learn more</a>.</p>
                <button id="cookie-accept">Accept</button>
                <button id="cookie-reject">Reject</button>
            </div>
    </body>
</html>
