<div class="content">
    <div class="centerwrapper centerwrapper--medium">
        <p class="my-text-is-yuge">Hey there!</p>
        <div class="my">
            <div class="my__details">
                <h1 class="my__name">{{ site.name }}</h1>
                <p class="my__description">
                    {{ site.description }}
                </p>
            </div>
            <div class="my__photo" style="background-image:url(https://scontent-frt3-1.xx.fbcdn.net/t31.0-8/15025181_10209849191817874_3995721812123376486_o.jpg);">

            </div>
        </div>
        Latest posts
        <ul>
            {% for p in site.posts %}
            <li><a href="{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>