<h2>Skills</h2>
<div class="skill-group">
  <h3>Programming</h3>
  <table class="skills">
      <thead>
      <tr>
          <th></th>
          <th>Years Exp</th>
          <th>Level</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td class="skill-name">HTML/5, CSS/3</td>
          <td class="years-exp">6</td>
          <td><div class="skill-bar-outer"><div class="skill-bar" data-skill-level="95" ><span class="show_print">95%</span></div></div></td>
      </tr>
      <tr>
          <td class="skill-name">Javascript(ES6)</td>
          <td class="years-exp">6(1)</td>
          <td><div class="skill-bar-outer"><div class="skill-bar" data-skill-level="80" ><span class="show_print">80%</span></div></div></td>
      </tr>
      <tr>
          <td class="skill-name">PHP, Python</td>
          <td class="years-exp">6, 1</td>
          <td><div class="skill-bar-outer"><div class="skill-bar" data-skill-level="85" ><span class="show_print">85%</span></div></div></td>
      </tr>
      <tr>
          <td class="skill-name">MySQL, MongoDB</td>
          <td class="years-exp">6, 2</td>
          <td><div class="skill-bar-outer"><div class="skill-bar" data-skill-level="85" ><span class="show_print">85%</span></div></div></td>
      </tr>
      </tbody>
  </table>
</div>
<div class="skill-group">
  <h3>Frameworks</h3>
  <table class="skills">
      <thead>
      <tr>
          <th></th>
          <th>Years Exp</th>
          <th>Level</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td class="skill-name">Javascript(jQuery, Angular, Backbone, Knockout, React)</td>
          <td class="years-exp">4, 2, 2, 2, 1</td>
          <td><div class="skill-bar-outer"><div class="skill-bar" data-skill-level="85" ><span class="show_print">85%</span></div></div></td>
      </tr>
      <tr>
          <td class="skill-name">PHP(Laravel, Symfony)</td>
          <td class="years-exp">4, 1</td>
          <td><div class="skill-bar-outer"><div class="skill-bar" data-skill-level="80" ><span class="show_print">80%</span></div></div></td>
      </tr>
      <tr>
          <td class="skill-name">Django</td>
          <td class="years-exp">1</td>
          <td><div class="skill-bar-outer"><div class="skill-bar" data-skill-level="80" ><span class="show_print">80%</span></div></div></td>
      </tr>
      </tbody>
  </table>
</div>
<div class="skill-group">
  <h3>Software</h3>
  <table class="skills">
      <thead>
      <tr>
          <th></th>
          <th>Years Exp</th>
          <th>Level</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td class="skill-name">CMS(Wordpress, Joomla, Drupal)</td>
          <td class="years-exp">5, 2, 3</td>
          <td><div class="skill-bar-outer"><div class="skill-bar" data-skill-level="90" ><span class="show_print">90%</span></div></div></td>
      </tr>
      <tr>
          <td class="skill-name">Ecommerce(Prestashop, zencart, magento)</td>
          <td class="years-exp">5</td>
          <td><div class="skill-bar-outer"><div class="skill-bar" data-skill-level="90" ><span class="show_print">90%</span></div></div></td>
      </tr>
      </tbody>
  </table>
</div>
<div class="skill-group">
  <h3>Technologies</h3>
  <table class="skills">
      <thead>
      <tr>
          <th></th>
          <th>Years Exp</th>
          <th>Level</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td class="skill-name">GIT</td>
          <td class="years-exp">7</td>
          <td><div class="skill-bar-outer"><div class="skill-bar" data-skill-level="85" ><span class="show_print">85%</span></div></div></td>
      </tr>
      <tr>
          <td class="skill-name">Gulp/Grunt</td>
          <td class="years-exp">3</td>
          <td><div class="skill-bar-outer"><div class="skill-bar" data-skill-level="80" ><span class="show_print">80%</span></div></div></td>
      </tr>
      <tr>
          <td class="skill-name">Webpack</td>
          <td class="years-exp">1</td>
          <td><div class="skill-bar-outer"><div class="skill-bar" data-skill-level="85" ><span class="show_print">85%</span></div></div></td>
      </tr>
      <tr>
          <td class="skill-name">Vagrant</td>
          <td class="years-exp">3</td>
          <td><div class="skill-bar-outer"><div class="skill-bar" data-skill-level="85" ><span class="show_print">85%</span></div></div></td>
      </tr>
      <tr>
          <td class="skill-name">Docker</td>
          <td class="years-exp">2</td>
          <td><div class="skill-bar-outer"><div class="skill-bar" data-skill-level="75" ><span class="show_print">75%</span></div></div></td>
      </tr>
      <tr>
          <td class="skill-name">AWS(EC2, S3, Cloudfront, Elasticbeanstalk, RDS)</td>
          <td class="years-exp">2</td>
          <td><div class="skill-bar-outer"><div class="skill-bar" data-skill-level="70" ><span class="show_print">70%</span></div></div></td>
      </tr>
      </tbody>
  </table>
</div>
<div class="skill-group">
  <h3>Programs</h3>
  <table class="skills">
      <thead>
      <tr>
          <th></th>
          <th>Years Exp</th>
          <th>Level</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td class="skill-name">Adobe Creative Suit(Ps, Lr, Ai, Id, AE, AP)</td>
          <td class="years-exp">4</td>
          <td><div class="skill-bar-outer"><div class="skill-bar" data-skill-level="90" ><span class="show_print">90%</span></div></div></td>
      </tr>
      </tbody>
  </table>
</div>
<div class="skill-group">
  <h3>Languages</h3>
  <table class="skills">
      <thead>
      <tr>
          <th></th>
          <th>Experience</th>
          <th>Level</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td class="skill-name">Portuguese</td>
          <td class="years-exp">Native</td>
          <td><div class="skill-bar-outer"><div class="skill-bar" data-skill-level="99" ><span class="show_print">99%</span></div></div></td>
      </tr>
      <tr>
          <td class="skill-name">English</td>
          <td class="years-exp">Native</td>
          <td><div class="skill-bar-outer"><div class="skill-bar" data-skill-level="99" ><span class="show_print">99%</span></div></div></td>
      </tr>
      <tr>
          <td class="skill-name">German</td>
          <td class="years-exp">Beginner</td>
          <td><div class="skill-bar-outer"><div class="skill-bar" data-skill-level="33" ><span class="show_print">33%</span></div></div></td>
      </tr>
      </tbody>
  </table>
</div>
