<nav class="top-nav">
    <div class="top-nav__burger">
        <div class="top-nav__burger__layer"></div>
        <div class="top-nav__burger__text">Menu</div>
    </div>
    <div class="top-nav__logo">
        <a href="/">Amando Abreu</a>
    </div>
    <div class="top-nav__search">
        <div class="top-nav__search__icon"></div>
        <div class="top-nav__search__text">
            {% if page.lang == 'pt' %}
            Pesquisa
            {% else %}
            Search
            {% endif %}
        </div>
    </div>
</nav>
<nav class="main-nav">
    <ul class="main-nav__list">
        <!--<li class="main-nav__element">
            <a class="main-nav__link" href="/">
                Home
            </a>
        </li>-->
        <!--<li class="main-nav__element main-nav__element--separator">
            <a class="main-nav__link" href="did/">
                Projects
            </a>
        </li>-->
        <!--<li class="main-nav__element main-nav__element--separator">
            <a class="main-nav__link" href="/does/">
              I do
            </a>
        </li>
        {% assign sorted = site.does %}
        {% for item in sorted limit:3 %}
        <li class="main-nav__element">
            <a class="main-nav__link" href="{{ item.url }}">
                {{ item.title }}
            </a>
        </li>
        {% endfor %}-->
        <li class="main-nav__element main-nav__element--separator">
          <a class="main-nav__link" href="does/">
              Services
          </a>
        </li>
        <!--{% assign sorted = site.does | sort:"date" %}
        {% for item in sorted limit:6 %}
        <li class="main-nav__element">
            <a class="main-nav__link" href="{{ item.url }}">
                {{ item.title }}
            </a>
        </li>
        {% endfor %}-->
        <li class="main-nav__element">
            <a class="main-nav__link" target="_blank" href="https://remotivate.io">
                Business consulting @ Remotivate
            </a>
        </li>
        <!--<li class="main-nav__element main-nav__element--separator">
          <a class="main-nav__link" href="did/">
              Projects
          </a>
        </li>
        {% assign sorted = site.did | sort:"date" | reverse %}
        {% for item in sorted limit:3 %}
        <li class="main-nav__element">
          <a class="main-nav__link" href="{{ item.url }}">
            {{ item.title }}
          </a>
        </li>
        {% endfor %}-->
        <li class="main-nav__element main-nav__element--separator">
          <a class="main-nav__link" href="blog/">
              Blog
          </a>
        </li>
        <li class="main-nav__element">
            <a class="main-nav__link" target="_blank" href="https://medium.com/@amandoabreu/you-dont-understand-your-software-engineers-53442ca0805a">
                You don't understand your software engineers
            </a>
        </li>
        <li class="main-nav__element">
            <a class="main-nav__link" target="_blank" href="https://medium.com/@amandoabreu/if-this-job-can-be-done-remotely-so-can-nearly-all-creative-jobs-d1823923f3ed">
                If this job can be done remotely, so can all jobs
            </a>
        </li>
        <li class="main-nav__element">
            <a class="main-nav__link" target="_blank" href="https://medium.com/@amandoabreu/the-psychological-reasons-behind-why-so-many-people-bought-bitcoin-7f2687a6cb3b">
                Psychology: This is why so many people bought bitcoin
            </a>
        </li>
        <li class="main-nav__element">
            <a class="main-nav__link" target="_blank" href="https://medium.com/@amandoabreu/how-not-having-2-8-for-the-bus-fare-helped-me-express-myself-better-397cfa93dcb5">
                How not having 2.8€ for the bus fare helped me express myself better
            </a>
        </li>
        <li class="main-nav__element">
            <a class="main-nav__link" target="_blank" href="https://medium.com/@amandoabreu/how-to-test-how-bullet-proof-your-ui-ux-is-b3bea615c294">
                Test how bulletproof your UI/UX is by using language and a friend
            </a>
        </li>
        <li class="main-nav__element">
            <a class="main-nav__link" target="_blank" href="https://medium.com/@amandoabreu/you-dont-know-what-hard-work-is-69079cb75e88">
                You don’t know what hard work is.
            </a>
        </li>
        {% for post in site.posts %}
        <li class="main-nav__element">
            <a class="main-nav__link" href="{{ post.url }}">
                {{ post.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>
<aside class="search">
    <div class="alert alert--notice">
        The search function is not yet created, sorry for the inconvenience!
    </div>
    <p>Take a look at some recent posts instead:</p>
    <div class="post-search-listing">
    {% for post in site.posts %}
        <a class="post-search-listing__link block" href="{{ post.url }}">
            <h4>{{ post.title }}</h4>
            <p class="post-search-listing__description">
                {{ post.excerpt | truncatewords: 20 }}
            </p>
        </a>
    {% endfor %}
    </div>
</aside>
