<nav class="top-nav">
    <div class="top-nav__burger">
        <div class="top-nav__burger__layer"></div>
        <div class="top-nav__burger__text">Menu</div>
    </div>
    <div class="top-nav__logo">
        <a href="/">Amando Abreu</a>
    </div>
    <div class="top-nav__search">
        <div class="top-nav__search__icon"></div>
        <div class="top-nav__search__text">
            {% if page.lang == 'pt' %}
            Pesquisa
            {% else %}
            Search
            {% endif %}
        </div>
    </div>
</nav>
<nav class="main-nav">
    <ul class="main-nav__list">
        <li class="main-nav__element">
            <a class="main-nav__link" href="/">
                Home
            </a>
        </li>
        <li class="main-nav__element">
            <a class="main-nav__link" href="did/">
                Projects
            </a>
        </li>
        <li class="main-nav__element main-nav__element--separator">
            I do
        </li>
        {% assign sorted = site.does %}
        {% for item in sorted limit:3 %}
        <li class="main-nav__element">
            <a class="main-nav__link" href="{{ item.url }}">
                {{ item.title }}
            </a>
        </li>
        {% endfor %}
        <li class="main-nav__element main-nav__element--separator">
            Latest Projects
        </li>
        {% assign sorted = site.did | sort:"date" | reverse %}
        {% for item in sorted limit:3 %}
        <li class="main-nav__element">
            <a class="main-nav__link" href="{{ item.url }}">
                {{ item.title }}
            </a>
        </li>
        {% endfor %}
        <li class="main-nav__element main-nav__element--separator">
            Latest posts
        </li>
        {% for post in site.posts %}
        <li class="main-nav__element">
            <a class="main-nav__link" href="{{ post.url }}">
                {{ post.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>
<aside class="search">
    <div class="alert alert--notice">
        The search function is not yet created, sorry for the inconvenience!
    </div>
    <p>Take a look at some recent posts instead:</p>
    <div class="post-search-listing">
    {% for post in site.posts %}
        <a class="post-search-listing__link block" href="{{ post.url }}">
            <h4>{{ post.title }}</h4>
            <p class="post-search-listing__description">
                {{ post.excerpt | truncatewords: 20 }}
            </p>
        </a>
    {% endfor %}
    </div>
</aside>