.carousel{
  &--images{
    max-height:220px;
  }
  &__item{
    background-size: contain;
    background-repeat: no-repeat;
    display:none;
    &--active{
      display:block;
    }
    &--mobile{
      background-image:url(https://s3.eu-central-1.amazonaws.com/amandoabreu/assets/images/devices/iphone-vertical.png);
      height: 237px;
      width: 101px;
      margin: 0px auto;
    }
    &--desktop{
      background-image:url(https://s3.eu-central-1.amazonaws.com/amandoabreu/assets/images/devices/imac.png);
      height: 237px;
      width: 259px;
      margin: 0 auto;
    }

    &--tablet{
      background-image:url(https://s3.eu-central-1.amazonaws.com/amandoabreu/assets/images/devices/ipad-vertical.png);
      height: 237px;
      width: 153px;
      margin: 0 auto;
    }
  }

  &__slide{

  }
  &__image{

    background-size: cover;
    &--mobile{
      width: 82%;
      height: 144px;
      margin: 25px auto;
    }
    &--tablet{
      width: 82%;
      height: 165px;
      margin: 16px auto;
    }
    &--desktop{
      width: 91%;
      height: 142px;
      margin: 10px auto;
    }
  }
}

.slick-prev {
  position: fixed;
  top: 235px;
  left: $half-gutter;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: none;
  border: 1px solid #ebeced;
  background: transparent;
  text-indent: -999px;
}

.slick-next {
  position: fixed;
  top: 235px;
  right: $half-gutter;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: none;
  border: 1px solid #ebeced;
  background: transparent;
  text-indent: -999px;
}

@media screen and(min-width: $tablet){
  .slick-prev {
    bottom: 0;
    left:0;
  }

  .slick-next {
    bottom: 0;
    right: 0;
  }

  .carousel {
    &--images {
      height: 508px;
    }
    &__item {
      &--mobile {
        width: 45%;
      }
    }

    &__item{
      background-size: contain;
      background-repeat: no-repeat;
      display:none;
      &--active{
        display:block;
      }
      &--mobile{
        background-image:url(https://s3.eu-central-1.amazonaws.com/amandoabreu/assets/images/devices/iphone-vertical.png);
        height: 500px;
        width: 228px;
        margin: $gutter auto;
      }
      &--desktop{
        background-image:url(https://s3.eu-central-1.amazonaws.com/amandoabreu/assets/images/devices/imac.png);
        height: 322px;
        width: 350px;
        margin: $gutter auto;
      }

      &--tablet{
        background-image:url(https://s3.eu-central-1.amazonaws.com/amandoabreu/assets/images/devices/ipad-vertical.png);
        height: 461px;
        width: 320px;
        margin: $gutter auto;
      }
    }

    &__image{
      background-size: cover;
      &--mobile{
        width: 82%;
        height: 344px;
        margin: 48px auto;
      }
      &--tablet{
        width: 82%;
        height: 352px;
        margin: 24px auto;
      }
      &--desktop{
        width: 94%;
        height: 194px;
        margin: 12px auto;
      }
    }
  }
}