.carousel{
  &--images{
    height:200px;
  }
  &__item{
    background-size: contain;
    background-repeat: no-repeat;
    display:none;
    &--active{
      display:block;
    }
    &--mobile{
      background-image:url(https://s3.eu-central-1.amazonaws.com/amandoabreu/assets/images/devices/iphone-vertical.png);
      height: 500px;
      width: 33%;
      margin: $gutter auto;
    }
    &--desktop{
      background-image:url(https://s3.eu-central-1.amazonaws.com/amandoabreu/assets/images/devices/imac.png);
      height: 322px;
      width: 70%;
      margin: $gutter auto;
    }

    &--tablet{
      background-image:url(https://s3.eu-central-1.amazonaws.com/amandoabreu/assets/images/devices/ipad-vertical.png);
      height: 461px;
      width: 65%;
      margin: $gutter auto;
    }
  }

  &__slide{

  }
  &__image{

    background-size: cover;
    &--mobile{
      width: 82%;
      height: 355px;
      margin: 28px auto;
    }
    &--tablet{
      width: 82%;
      height: 360px;
      margin: 24px auto;
    }
    &--desktop{
      width: 94%;
      height: 194px;
      margin: 12px auto;
    }
  }
}

.slick-prev {
  position: absolute;
  bottom: 0;
}

.slick-next {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and(min-width: $tablet){
  .carousel {
    &--images {
      height: 508px;
    }
    &__item {
      &--mobile {
        width: 45%;
      }
    }

    &__item{
      background-size: contain;
      background-repeat: no-repeat;
      display:none;
      &--active{
        display:block;
      }
      &--mobile{
        background-image:url(https://s3.eu-central-1.amazonaws.com/amandoabreu/assets/images/devices/iphone-vertical.png);
        height: 500px;
        width: 228px;
        margin: $gutter auto;
      }
      &--desktop{
        background-image:url(https://s3.eu-central-1.amazonaws.com/amandoabreu/assets/images/devices/imac.png);
        height: 322px;
        width: 350px;
        margin: $gutter auto;
      }

      &--tablet{
        background-image:url(https://s3.eu-central-1.amazonaws.com/amandoabreu/assets/images/devices/ipad-vertical.png);
        height: 461px;
        width: 320px;
        margin: $gutter auto;
      }
    }

    &__image{
      background-size: cover;
      &--mobile{
        width: 82%;
        height: 344px;
        margin: 48px auto;
      }
      &--tablet{
        width: 82%;
        height: 352px;
        margin: 24px auto;
      }
      &--desktop{
        width: 94%;
        height: 194px;
        margin: 12px auto;
      }
    }
  }
}