/*.centerwrapper{
  box-sizing: border-box;
  margin:0 auto;
  padding:0 0 0 0;
  &--narrow{
    width: 33%;
    max-width: $max-wrapper-width;
    min-width: $min-wrapper-width;
  }
  &--medium{
    width:50%;
    max-width: $max-wrapper-width;
    min-width: $min-wrapper-width;
  }
  &--wide{
    width:84%;
    max-width: $max-wrapper-width;
    min-width: $min-wrapper-width;
  }
  &--screen{
    width: 100%;
    min-width: $min-wrapper-width;
    position:absolute;
    left:0;
  }
}

@media screen and (max-width: 1024px){
  .centerwrapper{
    margin:0 auto;
    &--narrow{
      width: 80%;
    }
    &--medium{
      width:80%;
    }
    &--wide{
      width:80%;
    }
  }
}

@media screen and (max-width: 640px){
  .centerwrapper{
    margin:0 auto;
    &--narrow{
      width: 100%;
    }
    &--medium{
      width:100%;
    }
    &--wide{
      width:100%;
    }
  }
}*/

.centerwrapper{
  box-sizing: border-box;
  margin:0 auto;
  padding:0 $gutter;
  &--narrow{
    width: 100%;
    max-width: $narrow;
    min-width: $min-wrapper-width;
  }
  &--medium{
    width: 100%;
    max-width: $medium;
    min-width: $min-wrapper-width;
  }
  &--wide{
    width: 100%;
    max-width: $wide;
    min-width: $min-wrapper-width;
  }
  &--screen{
    width: 100%;
    min-width: $min-wrapper-width;
    position:absolute;
    left:0;
    padding: 0;
  }
}

@media screen and (min-width: 640px){
  .centerwrapper{
    margin:0 auto;
    &--narrow{
      /*width: 100%;*/
    }
    &--medium{
      /*width:100%;*/
    }
    &--wide{
      /*width:100%;*/
    }
  }
}

@media screen and (min-width: 1024px){
  .centerwrapper{
    margin:0 auto;
    &--narrow{
      /*width: 33%;*/
    }
    &--medium{
      /*width:50%;*/
    }
    &--wide{
      /*width:80%;*/
    }
  }
}