html,body{
  padding:0;
  margin:0;
}

html{
  font-family: "Helvetica", sans-serif;
  color:$dark-grey;
}

ul{
  list-style-type:none;
  margin:0;
  padding:0;
}

html, body, .main-wrapper, .page {
  min-height: 100vh;
  margin-bottom: -61px;
}