.my{
  display:flex;
  flex-wrap: wrap;
  &__photo{
    width: 240px;
    height: 240px;
    background-size: cover;
    order:1;
  }
  &__details{
    order:2;
  }
}

@media screen and (min-width: 1024px){
  .my{
    &__photo{
    }
    &__details{
      flex: 0 0 250px;
      padding: 0 $gutter;
    }
  }
}

@media screen and (min-width: 640px){

}