---
layout: default
---
## My motivation to write

Ever since I was young, I discovered that I'm good at picking up patterns. So, I spend a lot of time trying to pick up more patterns, and even patterns of the patterns(what is called metapatterns).

When I pick up some patterns, I like to make a rough outline of them and systematically apply them to things other than where I discovered them. Sometimes the results are insanely dumb, other times insanely precise.

I will share some patterns I see in the world in this site as a reference for myself and others.
