---
layout: default
---
  <div class="centerwrapper centerwrapper--wide">
    <div class="container">
      {% assign sorted = site[page.type] | sort:"date" %}
      {% for item in sorted reversed %}
        {% assign img = false %}
        {% if item.image %}
            {% assign img = item.image %}
        {% endif %}
        {% if item.desktop_images[0].image_path %}
            {% assign img = site.s3_base | append: item.desktop_images[0].image_path %}
        {% endif %}
        {% if item.show != false %}
      	<article class="post">
      		<img width="660" height="478" src="{{ img }}" class="post-image" alt="post-image">
      		<section class="post-content">
      			<time class="post-date">{{ item.date | date_to_long_string }}</time>
      			<h1 class="post-title">{{ item.title }}</h1>
      			<p class="post-abstract">{% if post.excerpt %}
    {{ post.excerpt }}
{% endif %}</p>
      			<div class="post-link-c">
      				<a href="{{ item.url }}" class="post-link">Read more</a>
      			</div>
      		</section>
      	</article>
        {% endif %}
      {% endfor %}
    </div>
  </div>
