---
layout: compress
---

{% include head.html %}

<card-body class="card-body card-body--post">
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1906774492884951',
            xfbml      : true,
            version    : 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5737396086470627",
    enable_page_level_ads: true
  });
</script>
<div class="main-wrapper">
    {% include top-nav.html %}
    <div class="page">
      <section id=timeline>
        <h1>Life</h1>
        <p class="leader">If you're interested in knowing how I went from robotics to business consulting, take a look at some life events that made it happen.</p>
        <div class="demo-card-wrapper">
          <div class="demo-card demo-card--step1">
            <div class="card-head">
              <div class="number-box">
                <span>1992</span>
              </div>
              <h2><span class="small"></span> Born</h2>
            </div>
            <div class="card-body">
              <p>Born in a very rural and isolated part of Portugal</p>
              <img src="/assets/images/portugal.jpg" alt="Graphic">
            </div>
          </div>

          <div class="demo-card demo-card--step1">
            <div class="card-head">
              <div class="number-box">
                <span>1997</span>
              </div>
              <h2><span class="small">First contacts with</span> Electronics</h2>
            </div>
            <div class="card-body">
              <p>After some electronic toys broke, my mom taught me how to open them up and fix simple things such as loose wires.</p>
              <img src="http://placehold.it/1000x500" alt="Graphic">
            </div>
          </div>

          <div class="demo-card demo-card--step2">
            <div class="card-head">
              <div class="number-box">
                <span>2001</span>
              </div>
              <h2><span class="small">First robot</span> cybot</h2>
            </div>
            <div class="card-body">
              <p>A weekly-issue robotics kit came out in the market, I only bought the first 16 weeks due to lack of money, but this assured basic functionality. It was my first time controlling a machine via sensors, and a good introduction to robotics.</p>
              <p>Between this and 2007 I deepened my electronics theory knowledge via magazines and books, I had no internet access at this point.</p>
              <img src="/assets/images/cybot.jpg" alt="Graphic">
            </div>
          </div>

          <div class="demo-card">
            <div class="card-head">
              <div class="number-box">
                <span>2002</span>
              </div>
              <h2><span class="small">Ilness and</span> nearly died</h2>
            </div>
            <div class="card-body">
              <p>Due to complications in getting adequate treatment, a simple appendicitis turned into an acute appendicitis with peritoneal abscess. According to the surgeon I was half an hour away from death. This really got in the way of projects.</p>
              <img src="http://placehold.it/1000x500" alt="Graphic">
            </div>
          </div>

          <div class="demo-card demo-card--step4">
            <div class="card-head">
              <div class="number-box">
                <span>2005</span>
              </div>
              <h2><span class="small">Web development with</span> Frontpage</h2>
            </div>
            <div class="card-body">
              <p>My first contact ever with HTML&CSS was with Microsoft frontpage when it was still around, and I made my first web pages before having internet.</p>
              <img src="http://placehold.it/1000x500" alt="Graphic">
            </div>
          </div>

          <div class="demo-card demo-card--step3">
            <div class="card-head">
              <div class="number-box">
                <span>2008</span>
              </div>
              <h2><span class="small">microcontrollers</span> and internet</h2>
            </div>
            <div class="card-body">
              <p>Getting internet allowed me to do better and more up-to-date searches, which lead to buying an Arduino board and loading my first programs onto it. I didn't touch frontpage for a while as I was focusing 100% on hardware and robotics.</p>
              <img src="/assets/images/arduino.jpg" alt="Graphic">
            </div>
          </div>

          <div class="demo-card demo-card--step5">
            <div class="card-head">
              <div class="number-box">
                <span>2009-2011</span>
              </div>
              <h2><span class="small">Lots of </span> Robots!</h2>
            </div>
            <div class="card-body">
              <p>One project lead to another, and I ended up with many robots and general projects on my desk, from simple AM transmitters to more complex robots with navigation algorithms.</p>
              <img src="assets/images/robots.jpg" alt="Graphic">
            </div>
          </div>

          <div class="demo-card demo-card--step5">
            <div class="card-head">
              <div class="number-box">
                <span>2010</span>
              </div>
              <h2><span class="small">First site for</span> Robotics</h2>
            </div>
            <div class="card-body">
              <p>I continued my robotics projects, and after a while I wanted a site where I could showcase them. I figured if I could make robots, a site wouldn't be hard. This lead to going into HTML/CSS again, but this time adding JavaScript, PHP, and MySQL to the mix. I was already doing basic freelance work at this point.</p>
              <img src="assets/images/first-site.jpg" alt="Graphic">
            </div>
          </div>

          <div class="demo-card demo-card--step5">
            <div class="card-head">
              <div class="number-box">
                <span>2013</span>
              </div>
              <h2><span class="small">Became volunteer</span> Firefighter</h2>
            </div>
            <div class="card-body">
              <p>I continued my robotics projects, and after a while I wanted a site where I could showcase them. I figured if I could make robots, a site wouldn't be hard. This lead to going into HTML/CSS again, but this time adding JavaScript, PHP, and MySQL to the mix. I was already doing basic freelance work at this point.</p>
              <img src="assets/images/fire.jpg" alt="Graphic">
            </div>
          </div>

        </div>
      </section>
    </div>
{% include html-footer.html %}
