---
layout: compress
---

{% include head.html %}

<card-body class="card-body card-body--post">
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1906774492884951',
            xfbml      : true,
            version    : 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5737396086470627",
    enable_page_level_ads: true
  });
</script>
<div class="main-wrapper">
    {% include top-nav.html %}
    <div class="page">
      <section id=timeline>
        <h1>Life</h1>
        <p class="leader">My journey since since 1992 until today</p>
        <div class="demo-card-wrapper">
          <div class="demo-card demo-card--step1">
            <div class="card-head">
              <div class="number-box">
                <span>1992</span>
              </div>
              <h2><span class="small"></span> Born</h2>
            </div>
            <div class="card-body">
              <p>Born in a very rural and isolated part of Portugal</p>
              <img src="/assets/images/portugal.jpg" alt="Graphic">
            </div>
          </div>

          <div class="demo-card demo-card--step1">
            <div class="card-head">
              <div class="number-box">
                <span>1999</span>
              </div>
              <h2><span class="small">First contacts with</span> Electronics</h2>
            </div>
            <div class="card-body">
              <p>At age 9 I started to tinker with electronic devices and fix toys that broke, simple stuff such as broken wires or leaked capacitors. This was purely because my mom showed me how.</p>
              <img src="http://placehold.it/1000x500" alt="Graphic">
            </div>
          </div>

          <div class="demo-card demo-card--step2">
            <div class="card-head">
              <div class="number-box">
                <span>2001</span>
              </div>
              <h2><span class="small">First robot</span> cybot</h2>
            </div>
            <div class="card-body">
              <p>A weekly-issue robotics kit came out in the market, I only bought the first 16 weeks due to lack of money, but this assured basic functionality. It was my first time controlling a machine via sensors, and a good introduction to robotics.</p>
              <p>Between this and 2007 I deepened my electronics theory knowledge via magazines and books, I had no internet access at this point.</p>
              <img src="/assets/images/cybot.jpg" alt="Graphic">
            </div>
          </div>

          <div class="demo-card">
            <div class="card-head">
              <div class="number-box">
                <span>2002</span>
              </div>
              <h2><span class="small">Ilness and</span> nearly died</h2>
            </div>
            <div class="card-body">
              <p>Due to complications in getting adequate treatment, a simple appendicitis turned into an acute appendicitis with peritoneal abscess. According to the surgeon I was half an hour away from death. This really got in the way of my projects.</p>
              <img src="http://placehold.it/1000x500" alt="Graphic">
            </div>
          </div>

          <div class="demo-card demo-card--step3">
            <div class="card-head">
              <div class="number-box">
                <span>2007</span>
              </div>
              <h2><span class="small">Internet and</span> first time coding</h2>
            </div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
              <img src="http://placehold.it/1000x500" alt="Graphic">
            </div>
          </div>

          <div class="demo-card demo-card--step4">
            <div class="card-head">
              <div class="number-box">
                <span>04</span>
              </div>
              <h2><span class="small">Subtitle</span> Consistency</h2>
            </div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
              <img src="http://placehold.it/1000x500" alt="Graphic">
            </div>
          </div>

          <div class="demo-card demo-card--step5">
            <div class="card-head">
              <div class="number-box">
                <span>05</span>
              </div>
              <h2><span class="small">Subtitle</span> Conversion</h2>
            </div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
              <img src="http://placehold.it/1000x500" alt="Graphic">
            </div>
          </div>

        </div>
      </section>
    </div>
{% include html-footer.html %}
