---
layout: default
---
<div class="head head--no-image head--hp">
    <div class="centerwrapper centerwrapper--wide">

      <div class="my">
        <p class="my-text-is-yuge">{{ page.hello }}</p>
        <div class="my__photo" style="background-image: url({{ site.distribution_base }}/assets/images/img/avatar.jpg)"></div>
          <div class="my__details">
              <div class="my__name-is">My name is</div>
              <h1 class="my__name">{{ page.me }}</h1>
              <p class="my__description">
                  {{ content }}
              </p>
              <div class="my__name-is">
                <a target="_blank" href="https://www.linkedin.com/in/amandoabreu/">Linkedin</a><br/>
                <a target="_blank" href="https://medium.com/@amandoabreu">medium.com</a><br/>
                <a target="_blank" href="https://github.com/amandoabreu">github</a><br/>
                <a target="_blank" href="https://codepen.io/amando96/">codepen</a><br/>
                <a target="_blank" href="http://youtubethumbnail.s3-website-eu-west-1.amazonaws.com/">Youtube thumbnail generator</a><br/>
                Founder of <a target="_blank" href="https://snuffer.co/">Snuffer - Drag & drop responsive page builder</a><br/>
              </div>
          </div>
      </div>
    </div>
</div>
<div class="bar-with-logos">

</div>
<div class="content">
    <div class="centerwrapper centerwrapper--wide">
      <!--<div style="float:right;width:40%; padding-bottom:62%;background-image:url(/assets/images/nlmvp.jpg);background-size:100%;">
      </div>-->
    <!--<div class="book">
        <div class="book__image"></div>
        <div class="book__newsletter"></div>
      </div>-->
    </div>
    {% include blog-grid.html %}
</div>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
