---
layout: default
---
<div class="head head--no-image head--hp">
    <div class="centerwrapper centerwrapper--wide">

      <div class="my">
        <p class="my-text-is-yuge">{{ page.hello }}</p>
        <div class="my__photo" style="background-image: url({{ site.baseUrl }}/assets/images/avatar.jpg)"></div>
          <div class="my__details">
              <div class="my__name-is">My name is</div>
              <h1 class="my__name">{{ page.me }}</h1>
              <p class="my__description">
                  {{ content }}
              </p>
              <div class="my__name-is" style="margin-top: 101px;">
                <a target="_blank" href="https://www.linkedin.com/in/amandoabreu/">Linkedin</a><br/>
                <a target="_blank" href="https://medium.com/@amandoabreu">Medium.com</a><br/>
                <a target="_blank" href="https://github.com/amandoabreu">Github</a><br/>
                <a target="_blank" href="https://codepen.io/amando96/">Codepen</a><br/>
                <a target="_blank" href="https://twitter.com/mndflp">Twitter</a><br/>
                Founder & CTO of <a target="_blank" href="https://www.perlo.io/">Perlo</a><br/>
              </div>
          </div>
      </div>
    </div>
</div>
<div class="bar-with-logos">

</div>
<div class="content">
    <div class="centerwrapper centerwrapper--wide">
      <!--<div style="float:right;width:40%; padding-bottom:62%;background-image:url(/assets/images/nlmvp.jpg);background-size:100%;">
      </div>-->
    <!--<div class="book">
        <div class="book__image"></div>
        <div class="book__newsletter"></div>
      </div>-->
      <a href="https://medium.com/@amandoabreu/you-dont-understand-your-software-engineers-53442ca0805a" target="_blank" style="text-decoration: none;">
      <article class="post"> <img width="660" height="478" src="/assets/images/posts/pexels-photo-52608.jpeg" class="post-image" alt="post-image"> <section class="post-content"> <time class="post-date">01 March 2018</time> <h1 class="post-title">You Don't Understand Your Software Engineers</h1> <p class="post-abstract"></p> <div class="post-link-c"> <a href="https://medium.com/@amandoabreu/you-dont-understand-your-software-engineers-53442ca0805a" target="_blank" class="post-link">Read more</a> </div> </section> </article></a>
    </div>

    
    {% include blog-grid.html %}
</div>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
