---
layout: default
---
<div class="head head--no-image">
    <div class="centerwrapper centerwrapper--medium">

      <div class="my">
        <p class="my-text-is-yuge">{{ page.hello }}</p>
        <div class="my__photo" style="background-image: url({{ site.distribution_base }}/assets/images/img/avatar.jpg)"></div>
          <div class="my__details">
              <div class="my__name-is">My name is</div>
              <h1 class="my__name">{{ page.me }}</h1>
              <p class="my__description">
                  {{ content }}
              </p>
          </div>
      </div>
    </div>
</div>
<div class="content">
    <div class="centerwrapper centerwrapper--medium">
      <!--<div style="float:right;width:40%; padding-bottom:62%;background-image:url(/assets/images/nlmvp.jpg);background-size:100%;">
      </div>-->
    <!--<div class="book">
        <div class="book__image"></div>
        <div class="book__newsletter"></div>
      </div>-->
    </div>
    {% include blog-grid.html %}
</div>
