---
layout: default
---
<div class="content">
    <div class="centerwrapper centerwrapper--medium">
        <ul>
            {% for item in site[page.type] %}
            <li class="listing-default">
                <a class="listing-default__link block" href="{{ item.url }}">
                    <div class="listing-default__item" {% if item.image %} style="background-image: url({{ item.image }});" {% endif %}>
                        <h3 class="listing-default__title">{{ item.title }}</h3>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
