---
layout: default
---
<div class="content">
    <div class="centerwrapper centerwrapper--medium">
        <ul class="listing">
            {% assign sorted = (site[page.type] | sort:"date") %}
            {% for item in sorted reversed %}
                {% assign img = false %}
                {% if item.image %}
                    {% assign img = item.image %}
                {% endif %}
                {% if item.desktop_images[0].image_path %}
                    {% assign img = site.s3_base | append: item.desktop_images[0].image_path %}
                {% endif %}
                <li class="listing__li">
                    <a class="listing__link block" href="{{ item.url }}">
                        <div class="listing__item {% if img %} listing__item--with-overlay {% endif %}" {% if img %} style="background-image: url({{ img }});" {% endif %}>
                            <h3 class="listing__title">{{ item.title }}</h3>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
