---
layout: default
---
{% include page/page-head.html %}

<div class="content">
    <div class="centerwrapper centerwrapper--medium">
        {{ page.content }}
    </div>
</div>
{% if page.contact %}
    {% assign show_after = true %}
{% endif %}

{% if page.comments %}
    {% assign show_after = true %}
{% endif %}

{% if show_after %}
<div class="content__after">
    {% if page.contact %}
    <div class="centerwrapper centerwrapper--medium">
        {% include contact.html %}
    </div>
    {% endif %}
    {% if page.comments %}
        <div class="centerwrapper centerwrapper--medium">
            {% include sharebox.html %}
            {% include comments.html %}
        </div>
    {% endif %}
</div>
{% endif %}