/* TODO fix translateX on IE9 by maybe just using left and right */
@import 'imports/normalize';
@import 'imports/variables';
@import 'imports/general';
@import 'imports/typography';
@import 'imports/content';
@import 'imports/top-nav';
@import 'imports/main-nav';
@import 'imports/head';
@import 'imports/me';
@import 'imports/centerwrapper';
@import 'imports/quote';
@import 'imports/search';
@import 'imports/alert';
@import 'imports/post-listing';
@import 'imports/accordion';
@import 'imports/carousel';
@import 'imports/device-selector';
@import 'imports/body';
@import 'imports/syntax';
@import 'imports/footer';
@import 'imports/table';
@import 'imports/skill-bar';
@import 'imports/experience';
@import 'imports/listing';

.page{
  z-index: 1000;
  position: relative;
  transform: translateX(0);
  transition: transform 200ms ease-in-out;
  padding: 60px 0;
}

.img{
  &--100p{
    width:100%;
  }
  &--caption{
    margin-top: -5px;
    background-color:#ebeced;
    font-size: 12px;
    box-shadow: 0px 0px 6px #999;
  }
}

.text{
  &--block{
    font-size:1.2em;
    padding: 15px;
  }
  &--justify{
    text-align:justify;
  }
  &--center{
    text-align:center;
  }
}

.post{
  &__details{
    position: absolute;
    bottom: 0;
    padding: 15px 0;
  }
}

/*{
  width:100%;
  padding: 20px 0;
  position:relative;
  z-index:2;
  background-color:white;
}*/

.post-list {
  &__square {
    float: left;
    position: relative;
    width: 25%;
    padding-bottom: 25%;
    /* = width for a 1:1 aspect ratio */
    overflow: hidden;
  }

  &__square-2-1 {
    width: 50%;
    padding-bottom: 25%;
  }

  &__square-2-2 {
    width: 50%;
    padding-bottom: 50%;
  }

  &__square-3-2 {
    width: 75%;
    padding-bottom: 50%;
  }

  &__square-3-3 {
    width: 75%;
    padding-bottom: 75%;
  }

  &__content {
    display:flex;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: $gutter;
    box-sizing: border-box;
    text-decoration:none;
    color:black;
    background-size:cover;
    background-repeat:no-repeat;
  }
  &__table-cell {
    display: flex;
    align-items: stretch;

  }
  &__post-info{
    padding: 0 0 0 $gutter;
    box-sizing: border-box;
    width:50%;
    order:1;

  }
  &__post-image{
    oerder:0;
    padding-bottom: 62%;
    flex:1;
    width:50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__content .rs {
    width: auto;
    height: auto;
    max-height: 90%;
    max-width: 100%;
  }
  /*  For responsive images as background */
  &__bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* you change this to "contain" if you don't want the images to be cropped */
    color: #fff;
  }
}

.footer{
  min-height: 60px;
  border-top:1px solid $light-grey;
  box-sizing: border-box;
}



.white{
  color:white;
}

.italic{
  font-style:italic;
}

.light{
  font-weight:200;
}

.left-padding{
  padding-left: $gutter;
}
.right-padding{
  padding-right: $gutter;
}
.top-padding{
  padding-top: $gutter;
}
.bottom-padding{
  padding-bottom: $gutter;
}